$resolution-mobile: 450px;
$resolution-ipad: 768px;
$resolution-desktop: 970px;
$resolution-wide: 1170px;

.App {
  text-align: center;

  margin: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  @media only screen and (min-width: $resolution-mobile) {
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  @media only screen and (min-width: $resolution-ipad) {
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  @media only screen and (min-width: $resolution-desktop) {
    margin: 5em;
    padding-left: 8em;
    padding-right: 8em;
  }
  @media only screen and (min-width: $resolution-wide) {
    margin: 5em;
    padding-left: 10em;
    padding-right: 10em;
  }
  .card {
    border: 1px solid rgba(236, 236, 236, 235);
    border-radius: 0px;
    box-shadow: 5px 10px rgba(236, 236, 236, 235);

    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    .card-header {
      padding: 0rem;
      background-color: white;
      .search {
        border: none;
        height: 55px;
        padding-left: 1em;
        text-transform: uppercase;
        font-size: 11px;
        color: #9f9f9f;
        letter-spacing: 0.2em;
        font-weight: 600;
      }
      .input-group-append {
        padding-left: 2em;
        margin-top: auto;
        margin-bottom: auto;
        color: #9f9f9f;
        font-size: 15px;
        padding-left: 3em;
        padding-right: 1em;
      }
    }
  }
  .col-sm-12 {
    padding: 0px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  margin-top: 3em;
}
