img {
  width: 100%;
}

.event-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bolder;
  color: #7a7a7a;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.event-name {
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 0.02em;
}
